* {
    box-sizing: border-box;
    line-height: 2.0;
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    background-color: #f8f6f6;
}

.wrapper {
    max-width: 1000px;
    width: 100%;
    margin: 0 auto;
}

header {
    width: 100%;
    text-align: center;
}

h1 {
    margin: 40px;
    font-size: 50px;
}

footer {
    margin: 40px;
    width: 300px;
    margin: 0 auto;
}
nav {
    margin-bottom: 30px;
}

#top-nav a{
    display: block;
    font-size: 20px;
    width: 140px;
    height: 45px;
    border: 1px solid grey;
    padding: 0 10px;
    border-radius: 10px;
    color: grey;
    font-weight: 400;
}

#top-nav a:hover {
    color: white;
    background-color: rgb(196, 196, 196);
    transition: 0.3s;  
}

#bottom-nav a{
    display: block;
    width: 250px;
    height: 250px;
    padding: 0 10px;
    text-align: center;
    margin-top: 50px;
}

ul li {
    list-style: none;
}

li a {
    text-decoration: none;
}

img {
     width: 20%;
     height: auto;
     border-radius: 99%;
     margin-bottom: 40px;
 }

 p {
    margin-bottom: 30px;
 }

 ul {
     width: 100%;
     display: flex;
     justify-content: space-around;
 }

 main {
    border-bottom: 1px solid rgb(223, 223, 223);
    padding-bottom: 50px;
 }
 .project-links {
    width: 100%;
    display: flex;
    justify-content: center; 
    flex-wrap: wrap;   
 }

 .project-image {
    height: 250px;
    width: 310px;
    margin: 6px;
    border-radius: 10px;
 }

 .project-name:hover {
    background-color: rgba(167, 166, 166, 0);
    color: rgba(167, 166, 166, 0);
    transition: 0.4s;
 }

 .project-name {
     height: 100%;
     width: 100%;
     background-color: rgba(201, 200, 200, 0.459);
     border-radius: 10px;
     color: #f8f6f6;
     font-size: 40px;
     font-weight: 400;
     display: flex;
     justify-content: center;
     align-items: center;
 }

 #p1 {
     background-image: url(../photos/star-citizen.png);
     background-size: cover;
 }

 #p2 {
    background-image: url(../photos/rage.png);
    background-size: cover;
}

#p3 {
    background-image: url(../photos/little-nightmares.png);
    background-size: cover;
}

#p4 {
    background-image: url(../photos/elder-scrolls.png);
    background-size: cover;
}

#p5 {
    background-image: url(../photos/endless-space.png);
    background-size: cover;
}

#p6 {
    background-image: url(../photos/pagan.png);
    background-size: cover;
}